<!DOCTYPE html>
<html lang="en_CA">
<head>

  <!-- https://github.com/joshbuchea/HEAD -->

  <!-- Recommended -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Elements -->
  <meta charset="utf-8">

  <!-- Meta -->
  <meta name="description" content="{{ metadata.description }}">
  <meta name="generator" content="11ty">

  <!-- Icons -->
  <!-- https://favicon.io/ -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Staatliches&display=swap" rel="stylesheet">


  <title></title>

  <link rel="stylesheet" href="/index.css">
</head>

<body class="font-sans leading-normal tracking-normal text-gray-900">

  {{ content | safe }}

  <footer class="bg-green-900 h-96 flex flex-col justify-center items-center">

  <div>
  <a>Discord</a>
  <a>Instagram</a>
  <a>GitHub</a>
  <a>Twitch</a>
  <a>YouTube</a>
  </div>

  <div>
  <span>&copy; 2021 - Innovate Trent</span>
</div>

<div>
  <span>Site design by <a href="https://overscore.media" target="_blank" rel="noopener nofollow noreferrer">OverScore Media</a>
  </div>
</div>

  </footer>

  
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>